<!DOCTYPE html>
<html>
<head>
  <title>Aurelia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- webpackConfig.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
</head>

<body aurelia-app="main">
<div class="splash">
  <div class="message" t="Initializing application">Initializing application</div>
  <i class="fa fa-spinner fa-spin"></i>
</div>
    <% if (webpackConfig.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>
</html>
